<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
<div class="cont">
<form action="/auth/login" method="POST" class="form">

    <div class="log">
        <h1>Вход</h1>
        <div class="input-form">
            <label for="login"></label>
            <input type="text" placeholder="Login" id="login" name="login" required>
        </div>

        <div class="input-form">
            <label for="password"></label>
            <input type="password" placeholder="Пароль" id="password" name="password" required>
        </div>

        <div class="input-form">
            <button type="submit" class="btn">Войти</button>

        </div>
        <a href="/register" class="link-a">Регистрация</a>
        <div class="error">
            {{#if message }}
                <h4 class="alert alert-danger mt-4">{{message}}</h4>
            {{/if}}
        </div>
    </div>
</form>
</div>

</body>
</html>